.footer {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #212121;
  opacity: 70%;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  text-align: center;
  margin: 0;
  padding: 60px 0;
}
